<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Utilizing web scraping and machine learning techniques to accurately predict Khamsat service prices ">
    <meta name="keywords" content="khamsat, classification, ai, machine learning, arabic, freelance, fastapi">
    <meta name="author" content="Ismael Mousa">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Khamsat Predictor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body class="text-white">
<div class="container p-5 border-0 rounded-4">
    <h1 class="text-center mb-5">
        <img src="images/logo.png" alt="Logo" class="logo align-middle">
    </h1>
    <form id="offer-form">
        <div class="form-row d-flex justify-content-between gap-5">
            <div class="form-part">
                <h2 class="section-title text-center">مواصفات العرض</h2>
                <div class="mb-3">
                    <label for="category_name" class="form-label">الفئة</label>
                    <select id="category_name" name="category_name" class="form-select">
                        <option value="تصميم">تصميم</option>
                        <option value="كتابة وترجمة">كتابة وترجمة</option>
                        <option value="تسويق رقمي">تسويق رقمي</option>
                        <option value="برمجة وتطوير">برمجة وتطوير</option>
                        <option value="فيديو وأنيميشن">فيديو وأنيميشن</option>
                        <option value="هندسة وعمارة">هندسة وعمارة</option>
                        <option value="أعمال">أعمال</option>
                        <option value="صوتيات">صوتيات</option>
                        <option value="تعليم عن بعد">تعليم عن بعد</option>
                        <option value="بيانات">بيانات</option>
                        <option value="أسلوب حياة">أسلوب حياة</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="service_name" class="form-label">الخدمة</label>
                    <input type="text" id="service_name" name="service_name" class="form-control" value="أخرى">
                </div>
                <div class="mb-3">
                    <label for="offer_stars" class="form-label">النجوم</label>
                    <input type="number" id="offer_stars" name="offer_stars" class="form-control" value="5" step="0.1"
                           min="0" max="5">
                </div>
                <div class="mb-3">
                    <label for="offer_raters" class="form-label">التقييمات</label>
                    <input type="number" id="offer_raters" name="offer_raters" class="form-control" value="0" min="0">
                </div>
                <div class="mb-3">
                    <label for="duration" class="form-label">مدة التسليم</label>
                    <select id="duration" name="duration" class="form-select">
                        <option value="يوم واحد">يوم واحد</option>
                        <option value="يومين">يومين</option>
                        <option value="ثلاثة أيام">ثلاثة أيام</option>
                        <option value="أربعة أيام">أربعة أيام</option>
                        <option value="خمسة أيام">خمسة أيام</option>
                        <option value="ستة أيام">ستة أيام</option>
                        <option value="أسبوع">أسبوع</option>
                        <option value="أسبوعين">أسبوعين</option>
                        <option value="ثلاثة أسابيع">ثلاثة أسابيع</option>
                        <option value="شهر">شهر</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="offer_response_time" class="form-label">متوسط سرعة الرد</label>
                    <input type="text" id="offer_response_time" name="offer_response_time" class="form-control"
                           value="دقيقة">
                </div>
            </div>
            <div class="form-part">
                <h2 class="section-title text-center">صاحب الخدمة</h2>
                <div class="mb-3">
                    <label for="owner_level" class="form-label">المستوى</label>
                    <select id="owner_level" name="owner_level" class="form-select">
                        <option value="مستخدم جديد">مستخدم جديد</option>
                        <option value="مشتري جاد">مشتري جاد</option>
                        <option value="مشتري جديد">مشتري جديد</option>
                        <option value="بائع جديد">بائع جديد</option>
                        <option value="مشتري مميز">مشتري مميز</option>
                        <option value="بائع نشيط">بائع نشيط</option>
                        <option value="مشتري VIP">مشتري VIP</option>
                        <option value="بائع موثوق">بائع موثوق</option>
                        <option value="بائع مميز">بائع مميز</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="owner_stars" class="form-label">النجوم</label>
                    <input type="number" id="owner_stars" name="owner_stars" class="form-control" value="5" step="0.1"
                           min="0" max="5">
                </div>
                <div class="mb-3">
                    <label for="owner_raters" class="form-label">التقييمات</label>
                    <input type="number" id="owner_raters" name="owner_raters" class="form-control" value="0" min="0">
                </div>
                <div class="mb-3">
                    <label for="owner_services" class="form-label">عدد الخدمات</label>
                    <input type="number" id="owner_services" name="owner_services" class="form-control" value="0"
                           min="0">
                </div>
                <div class="mb-3">
                    <label for="owner_customers" class="form-label">عدد العملاء</label>
                    <input type="number" id="owner_customers" name="owner_customers" class="form-control" value="0"
                           min="0">
                </div>
                <div class="mb-3">
                    <label for="owner_response_time" class="form-label">متوسط سرعة الرد</label>
                    <input type="text" id="owner_response_time" name="owner_response_time" class="form-control"
                           value="دقيقة">
                </div>
                <div class="form-check text-center">
                    <input type="checkbox" id="owner_verified" name="owner_verified" class="btn-check" checked>
                    <label for="owner_verified" id="owner_verified_label"
                           class="btn btn-outline-success border border-0 shadow mt-2">هوية موثقة</label>
                </div>

            </div>
            <div class="form-part">
                <h2 class="section-title text-center">معلومات إضافية</h2>
                <div class="mb-3">
                    <label for="pending" class="form-label">طلبات جاري تنفيذها</label>
                    <input type="number" id="pending" name="pending" class="form-control" value="0" min="0">
                </div>
                <div class="mb-3">
                    <label for="reviews" class="form-label">الآراء</label>
                    <input type="number" id="reviews" name="reviews" class="form-control" value="0" min="0">
                </div>
                <div class="mb-3">
                    <label for="available_additions" class="form-label">التطويرات المتوفرة</label>
                    <input type="number" id="available_additions" name="available_additions" class="form-control"
                           value="0" min="0">
                </div>
                <div class="mb-3">
                    <label for="additions_price" class="form-label">سعر التطويرات</label>
                    <input type="number" id="additions_price" name="additions_price" class="form-control" value="0"
                           min="0">
                </div>
                <div class="mb-3">
                    <label for="offer_buyers" class="form-label">المشترين</label>
                    <input type="number" id="offer_buyers" name="offer_buyers" class="form-control" value="0" min="0">
                </div>
                <div class="mb-3">
                    <label for="owner_completion_rate" class="form-label">معدل إكمال الطلبات</label>
                    <input type="number" id="owner_completion_rate" name="owner_completion_rate" class="form-control"
                           value="100" min="0" max="100">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-evenly text-center mt-4">
            <button class="btn btn-warning w-25" type="submit">توقع السعر</button>
            <button class="btn btn-outline-success w-25" type="button" id="result">السعر يظهر هنا</button>
        </div>
    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="index.js"></script>
</body>
</html>
